*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:  Helvetica;
}
.container{
  width: 95%;
  max-width: 1280px;
  margin: 0 auto;
}
.form-container{
  width: 95%;
  max-width: 1280px;
  margin: 0 auto;
}
#root{
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}
footer{
  width: 100%;
  background-color: #fff;
}

